<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Azure" type="System.Configuration.AppSettingsSection" />
    <section name="Obscured" type="System.Configuration.AppSettingsSection" />
    <section name="Providers" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <appSettings>
    <add key="PoolingInterval" value="3600" />
    <add key="ClientId" value="834a2440-6632-4326-a4bc-8ac23367df80" />
    <add key="ClientSecret" value="HiUObzsMVxl+EaTwxOzk/p/Ji1zdcD4dB2bC9KIxB7g=" />
    <add key="SubscriptionId" value="fa9102be-b778-4e95-86ab-1fbaa5ca3021" />
    <add key="ResourceGroup" value="Obscured" />
    <add key="ZoneName" value="obscured.se" />
    <add key="RecordName" value="dyndns.ore01" />
    <add key="RecordType" value="A" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <Azure>
    <add key="ManagementUri" value="https://management.azure.com/subscriptions/{0}?api-version=2015-01-01" />
    <add key="BaseUri" value="https://management.azure.com/" />
    <add key="SubscriptionsUri" value="subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones?api-version=2016-04-01" />
    <add key="ZonesUri" value="/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones?api-version=2016-04-01" />
    <add key="ZoneUri" value="/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}?api-version=2016-04-01" />
    <add key="RecordsUri" value="/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/recordsets?api-version=2016-04-01" />
    <add key="RecordUri" value="/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{recordSetName}?api-version=2016-04-01" />
  </Azure>
  <Obscured>
    <!--add key="LogLevel" value="Error, Warning, Information, SuccessAudit, FailureAudit"/-->
    <add key="LogLevel" value="Warning"/>
    <add key="LogName" value="Azure.DynDNS"/>
  </Obscured>
  <Providers>
    <add key="Obscured" value="http://www.holdr.se/utility/ip" />
    <add key="FreeGeoIP" value="http://freegeoip.net/json/" />
    <add key="Ipify" value="https://api.ipify.org?format=json" />
    <add key="IPInfo" value="http://ipinfo.io/json" />
    <add key="MyExternalIP" value="http://myexternalip.com/json" />
  </Providers>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>