<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ClientId" value="{AZURE_CLIENT_ID}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientSecret" value="{AZURE_CLIENT_SECRET}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SubscriptionId" value="{AZURE_SUBSCRIPTION_ID}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ResourceGroup" value="{AZURE_RESOURCE_GROUP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <add key="ZoneName" value="{DOMAIN_ZONE_NAME}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecordName" value="{DOMAIN_RECORD_NAME}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecordType" value="{DOMAIN_RECORD_TYPE}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Providers" value="{DOMAIN_PROVIDERS}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>